.refill-step-container {
  padding: 16px;
  background-color: hsl(130,5%,95%);
  border: 1px solid rgba(0,0,0,0.16);
  border-top-width: 0;
  color: #999;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 -1px 0 rgba(0,0,0,0.02);
  max-width: 720px;

  // Current step
  &.refill-step-expanded {
    background-color: hsl(130,5%,99%);
    color: #555;
    .refill-step-title { color: #333; }

    // Next steps
    & ~ .refill-step-container {
      background-color: hsl(130,0%,95%);
      opacity: 0.6;
    }
  }

  &:first-child {
    border-radius: 4px 4px 0 0;
    border-top-width: 1px;
  }
  &:last-child {
    border-radius: 0 0 4px 4px;
  }

  .standalone & {
    &:first-child {
      border-top: 0;
    }
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }



  .refill-step-title {
    color: #666;
    font-size: 18px;
    margin: 0;
  }
  .refill-step-subtitle {
    color: #999;
    font-size: 12px;
    margin: 12px 0 0 4px;
    line-height: 1;
    float: right;

    .button {
      padding: 0 8px;
      min-height: 28px;
      margin-top: -12px;
    }
  }
  .refill-step-number {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 1.55;
    border-radius: 50%;
    background-color: rgba(152, 174, 10, 0.8);
    color: rgba(0,0,0,0.6);
    text-align: center;
    margin: 0 12px 0 0;
    color: #fff;

    .refill-step-expanded & {
      background-color: rgb(152, 174, 10);
    }
    .refill-step-expanded ~ .refill-step-container & {
      background-color: rgba(152, 174, 10, 0.6);
    }
  }
  .refill-step-body {
    display: block;
    padding: 8px 0 8px 40px;
    font-size: 14px;

    @media(max-width: 480px) {
      padding: 16px 0 0;
    }

    .button {
      margin: 8px 0;
      font-size: 16px;
    }
    > .button:last-child {
      margin: 0;
      min-width: 120px;

      @media(max-width: 320px) {
        width: 100%;
      }
    }
    a.button {
      max-width: 200px;
    }


    @media (max-width: 480px) {
      .select { display: block; }
      input[type="email"] { width: 100%; }
    }

    h3 {
      margin: 8px 0;
    }
    p {
      font-size: 14px;
      line-height: 1.5;
    }
    input + p {
      margin-top: 1em;
    }

    .refill-field-hint, .refill-error-message {
      font-size: 12px;
      margin: 8px 0;
      max-width: 32em;
      color: #777;
    }

    .refill-error {
      border: 1px solid lighten(#D65C5C, 10%);
      outline-color: lighten(#D65C5C, 20%);
    }
    .refill-error-message {
      color: #D65C5C;
    }

    .order-step {
      opacity: 0.6;
    }
    .order-step + .order-step {
      margin-top: 12px;
    }
    .order-step:last-of-type {
      opacity: 1;
    }

    .order-step-done {
      color: #98AE0A;
    }
    .order-step-error {
      color: #E1283C;
    }

    .order-step-symbol {
      display: flex;
      height: 19px;
      width: 16px;
      margin-bottom: -19px;
      padding: 0;
      position: relative;
      left: -24px;
      align-items: center;
      justify-content: center;
    }

    .order-step-symbol.spinner-wrapper {
      flex-direction: row;
      justify-content: flex-start;

      .spinner.spinner-ios {
        font-size: 16px;
      }

      .spinner-text {
        text-align: left;
        margin: 0 0 0 16px;

        strong, a {
          display: block;
        }
      }
    }
  }

  .refill-step-back {
    display: block;
    margin: -50px 0 12px auto;

    @media(max-width: 420px) {
      margin: 16px 0 0 0;
    }
  }

  .refill-field-container {
    margin-bottom: 16px;

    .refill-field-label {
      display: block;
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      color: #777;
      margin-bottom: 8px;
    }
  }

  .refill-number-field {
    margin-bottom: 0;

    .refill-field {
      display: flex;
      justify-content: flex-start;

      .button {
        vertical-align: middle;
        margin: 0;
      }
      .refill-number-field-input-wrapper + .button {
        margin-left: 8px;
        margin-right: 8px;
      }

      .button {
        flex: 1;
        padding-left: 8px;
        padding-right: 8px;
        max-width: 120px;

        @media(max-width: 480px) {
          flex: 0;
        }
      }
    }
  }

  .refill-payment-order-info {
    dt, dd {
      float: left;
      min-width: 120px;
      white-space: nowrap;
      margin: 0;
      padding-bottom: 8px;
    }
    dt {
      float: left;
      clear: left;
      font-weight: bold;
    }
    dd {
      clear: right;
      min-width: 180px;
    }

    &:after {
      content: ' ';
      display: block;
      clear: both;
    }
  }

  .refill-payment-grid {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
  }
  .refill-payment-group {
    flex: 1;
    margin: 0 32px;

    &:first-child {
      margin-left: 0;
      &:after, &:before { display: none; }
    }
    &:last-child {
      margin-right: 0;
    }

    &:before {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      margin-left: -32px;
      background-color: rgba(0,0,0,0.16);
      width: 1px;
      content: "";
    }
    &:after {
      display: block;
      position: absolute;
      top: 50%;
      margin-left: -38px;
      margin-top: -1em;
      content: "or";
      background-color: hsl(130,5%,99%);
      padding: 0.5em 0 0.6em;
      line-height: 1;
      color: #999;
    }

    .button { display: block; }
    .button + small {
      display: block;
      margin: 0 0 4px;
    }
    .button + small + .button {
      margin-top: 12px;
    }
  }

}

.refill-introduction, .refill-terms {
  font-size: 12px;
  text-align: center;
  padding: 16px;
  margin: 0;
  color: #777;

  a {
    color: inherit;
  }

  & + & {
    padding-top: 0;
  }
}
