.refill-widget-root {
  font-size: 16px;
  font-family: -apple-system, ".SFNSText-Regular", "Helvetica Neue",
    "Roboto", "Segoe UI", sans-serif !important;
  padding: 0;
  color: #333;
  box-sizing: border-box;

  @import "~normalize.css";

  * {
    box-sizing: inherit;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 16px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  var {
    font-style: normal;
  }
  pre {
    margin-top: 0;
    padding: 8px;
    background-color: rgba(0,0,0,0.08);
  }

  input[type="tel"],
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="email"],
  select {
    min-height: 40px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;

    &:hover {
      border-color: #bbb;
    }
    &:active,
    &:focus {
      border-color: #999;
    }
  }
}
