.select {
  position: relative;
  display: inline-block;
  margin: 8px 8px 8px 0;
}
.select select {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 8px 24px 8px 16px;
  line-height: 24px;
  height: 40px;
  cursor: pointer;
  color: #7b7b7b;
  border-radius: 0;
  background: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #fff;
}

.select select:disabled {
  pointer-events: none;
  opacity: .5;
}

.select-arrow {
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 12px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-width: 8px 5px 0 5px;
  border-style: solid;
  border-color: #777 transparent transparent transparent;
}
.select select:hover ~ .select-arrow,
.select select:focus ~ .select-arrow ,
.select select:active ~ .select-arrow {
  border-top-color: #333;
}

.select select:disabled ~ .select-arrow {
  border-top-color: #ccc;
}
