$spinner-color: #69717d;
$spinner-size: 24px;
$animation-delay: 0s;
$blade-rotation: 0deg;

@keyframes spinner-fade {
  from { background-color: $spinner-color; }
  to { background-color: transparent; }
}
@keyframes spinner-fade-white {
  from { background-color: #fff; }
  to { background-color: transparent; }
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  height: 80px;
  padding: 8px;
  flex: 1;

  .spinner {
  }

  .spinner-text {
    text-align: center;
    margin: 8px 8px 0;
    font-size: 14px;
    color: #777;
  }

}

.spinner-wrapper-ios {
  .spinner.spinner-ios {
    font-size: $spinner-size;
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1.25;

    &.spinner-white .spinner-blade {
      animation-name: spinner-fade-white;
    }

    .spinner-blade {
      position: absolute;
      left: .4629em;
      bottom: 0;
      width: .074em;
      height: .2777em;
      border-radius: .0555em;
      background-color: transparent;
      transform-origin: center -.2222em;
      animation: spinner-fade 1s infinite linear;

      @for $i from 1 through 12 {
        &:nth-child(#{$i}) {
          animation-delay: $animation-delay + .083 * $i;
          transform: rotate($blade-rotation + 30 * $i);
        }
      }
    }
  }
}
